include ../mixins/sectionHeader

.about#about
    .container
        +sectionHeader("о бренде", "Timeline")
    .about-slider
        .swiper-wrapper
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about11.jpg", alt="about11", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about12", loading="lazy")
                .slide-content
                    .slide-title С чего все начиналось 
                    .slide-text 
                        | Для выставки Saloni 2020 в Италии дизайнерами Studia 54 совместно с фабрикой Medea 1905 была разработана эксклюзивная коллекция мебели. 
                        | Изысканный дизайн и премиальные материалы в коллаборации - это начало становления нашей мультибрендовой платформы Studia 54.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about21.jpg", alt="about21", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about22", loading="lazy")
                .slide-content
                    .slide-title Создание online магазина Store 54
                    .slide-text 
                        | В интернет-магазине представлена мебель класса luxe, которая одновременно отражает стилистику компании и подчеркивает изысканный вкус своего владельца. 
                        | Каждая модель собрана только из высококачественных материалов. 
                        | В комбинации с оригинальным премиальным дизайном и единым стилем, наша мебель становится настоящим украшением дома и долгие годы остается актуальной.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about31.jpg", alt="about31", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about32", loading="lazy")
                .slide-content
                    .slide-title 
                        | Открытие большого производства в центре Санкт-Петербурга 
                        b Production 54
                    .slide-text 
                        | Для выставки Saloni 2020 в Италии дизайнерами Studia 54 совместно с фабрикой Medea 1905 была разработана эксклюзивная коллекция мебели. 
                        | Изысканный дизайн и премиальные материалы в коллаборации - это начало становления нашей мультибрендовой платформы Studia 54.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about41.jpg", alt="about41", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about42", loading="lazy")
                .slide-content
                    .slide-title Открытие мягкого цеха
                    .slide-text 
                        | Спустя некоторое время, мы пришли к решению начать создавать предметы мягкой мебели. 
                        | Для осуществления всех дизайнерских идей в полном объеме, в Production 54 был открыт мягкий цех. 
                        | Мы уже успели создать успешную коллекцию, включающую в себя диваны, банкетки, пуфы и изделия для спальни. 
                        | И это только начало.

            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about51.jpg", alt="about51", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about52", loading="lazy")
                .slide-content
                    .slide-title Рождение FIFTYFOURMS
                    .slide-text 
                        | FIFTYFOURMS – это наш ответ на растущий спрос на качественные изделия с эксклюзивным дизайном. 
                        | Это история про поиск новых форм и дизайнерских решений, сочетание плавных и сложных линий, подбор наилучших материалов для воплощения идеи. 
                        | Мы не просто бренд: за названием стоит настоящий творческий процесс создания уникальных предметов современной роскоши. 
        .swiper-button-next.lg-visible(style="background-image: url('../../img/slider-arrow.svg');")
        .swiper-button-prev.lg-visible(style="background-image: url('../../img/slider-arrow.svg');")
        .swiper-pagination