include ../mixins/sectionHeader

.about#about.snap
    .container
        +sectionHeader("о бренде", "Timeline")
    .about-slider-lg.lg-visible
        .about-slider-text
            .about-slide-text.slide-text-0
                h2.title С чего все начиналось
                p.text
                    | Для выставки Salone del Mobile 2020 в Италии дизайнерами Studia 54 совместно с фабрикой Medea 1905 была разработана эксклюзивная коллекция мебели. 
                    | «Исполняя желания» - концепция, в которой дизайнеры органично совместили традиции высокого мебельного искусства и инновации.
                    br
                    | Премиальные итальянские материалы, изысканный дизайн, калейдоскоп цветов и текстур – это начало становления нашей мультибрендовой платформы Store 54. 
            .about-slide-text.slide-text-1
                h2.title 
                    | Создание online магазина 
                    b Store 54
                p.text
                    | В интернет-магазине представлена мебель класса luxe, которая одновременно отражает стилистику компании и подчеркивает изысканный вкус своего владельца. 
                    | Каждая модель собрана только из высококачественных материалов. В комбинации с оригинальным премиальным дизайном и единым стилем 
                    | наша мебель становится настоящим украшением дома и долгие годы остается актуальной.
            .about-slide-text.slide-text-2
                h2.title Открытие большого производства в центре Санкт&#8209;Петербурга Production 54
                p.text
                    | Мы организовали большое динамичное производство, на котором создаются эксклюзивные предметы мебели высочайшего класса. 
                    | Столярный цех площадью 1500 кв.м. оснащен современным оборудованием, которое позволяет работать с самыми разными материалами. 
            .about-slide-text.slide-text-3
                h2.title Открытие мягкого цеха
                p.text
                    | Спустя некоторое время мы пришли к решению начать создавать предметы мягкой 
                    | мебели. Для осуществления всех дизайнерских идей в полном объеме в Production 54 был открыт мягкий цех. 
                    | Мы уже успели создать успешную коллекцию, включающую в себя диваны, банкетки, пуфы и изделия для спальни. И это только начало.
            .about-slide-text.slide-text-4
                h2.title Рождение FIFTYFOURMS
                p.text
                    | FIFTYFOURMS – это наш ответ на растущий спрос на качественные изделия с эксклюзивным дизайном. 
                    | Это история про поиск новых форм и дизайнерских решений, сочетание плавных и сложных линий, подбор наилучших материалов для воплощения идеи. 
                    | Мы не просто бренд: за названием стоит настоящий творческий процесс создания уникальных предметов современной роскоши. 
        .about-slider-pictures
            .about-slide-picture.slide-picture-0
                .pic
                    picture
                        img(src="./img/about11.jpg", alt="about11", loading="lazy")
                .pic-small
                    picture
                        img(src="./img/about12.jpg", alt="about11", loading="lazy")
            .about-slide-picture.slide-picture-1
                .pic
                    picture
                        img(src="./img/about21.jpg", alt="about12", loading="lazy")
                .pic-small
                    picture
                        img(src="./img/about22.jpg", alt="about11", loading="lazy")
            .about-slide-picture.slide-picture-2
                .pic
                    picture
                        img(src="./img/about31.jpg", alt="about13", loading="lazy")
                .pic-small
                    picture
                        img(src="./img/about32.jpg", alt="about11", loading="lazy")
            .about-slide-picture.slide-picture-3
                .pic
                    picture
                        img(src="./img/about41.jpg", alt="about12", loading="lazy")
                .pic-small
                    picture
                        img(src="./img/production-2.jpg", alt="about11", loading="lazy")
            .about-slide-picture.slide-picture-4
                .pic
                    picture
                        img(src="./img/about51.jpg", alt="about13", loading="lazy")
                .pic-small
                    picture
                        img(src="./img/about52.jpg", alt="about11", loading="lazy")
        .button-next(style="background-image: url('../../img/slider-arrow.svg');")
        .button-prev(style="background-image: url('../../img/slider-arrow.svg');")
    .about-slider.lg-hidden
        .swiper-wrapper
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about11.jpg", alt="about11", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about12", loading="lazy")
                .slide-content
                    .slide-title С чего все начиналось 
                    .slide-text 
                        | Для выставки Salone del Mobile 2020 в Италии дизайнерами Studia 54 совместно с фабрикой Medea 1905 была разработана эксклюзивная коллекция мебели. 
                        | «Исполняя желания» - концепция, в которой дизайнеры органично совместили традиции высокого мебельного искусства и инновации.
                        br
                        | Премиальные итальянские материалы, изысканный дизайн, калейдоскоп цветов и текстур – это начало становления нашей мультибрендовой платформы Store 54.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about21.jpg", alt="about21", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about22", loading="lazy")
                .slide-content
                    .slide-title                     
                        | Создание online магазина 
                        b Store 54
                    .slide-text 
                        | В интернет-магазине представлена мебель класса luxe, которая одновременно отражает стилистику компании и подчеркивает изысканный вкус своего владельца. 
                        | Каждая модель собрана только из высококачественных материалов. В комбинации с оригинальным премиальным дизайном и единым стилем  
                        | наша мебель становится настоящим украшением дома и долгие годы остается актуальной.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about31.jpg", alt="about31", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about32", loading="lazy")
                .slide-content
                    .slide-title 
                        | Открытие большого производства в центре Санкт&#8209;Петербурга Production 54
                    .slide-text 
                        | Мы организовали большое динамичное производство, на котором создаются эксклюзивные предметы мебели высочайшего класса. 
                        | Столярный цех площадью 1500 кв.м оснащен современным оборудованием, которое позволяет работать с самыми разными материалами. 
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about41.jpg", alt="about41", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about42", loading="lazy")
                .slide-content
                    .slide-title Открытие мягкого цеха
                    .slide-text 
                        | Спустя некоторое время, мы пришли к решению начать создавать предметы мягкой 
                        | мебели. Для осуществления всех дизайнерских идей в полном объеме, в Production 54 был открыт мягкий цех. 
                        | Мы уже успели создать успешную коллекцию, включающую в себя диваны, банкетки, пуфы и изделия для спальни. И это только начало.
            .swiper-slide
                .slide-pictures
                    .pic
                        picture
                            img(src="./img/about51.jpg", alt="about51", loading="lazy")
                    .pic-small.md-visible
                        picture
                            img(src="./img/about12.jpg", alt="about52", loading="lazy")
                .slide-content
                    .slide-title Рождение FIFTYFOURMS
                    .slide-text 
                        | FIFTYFOURMS – это наш ответ на растущий спрос на качественные изделия с эксклюзивным дизайном. 
                        | Это история про поиск новых форм и дизайнерских решений, сочетание плавных и сложных линий, подбор наилучших материалов для воплощения идеи. 
                        | Мы не просто бренд: за названием стоит настоящий творческий процесс создания уникальных предметов современной роскоши. 
        .swiper-button-next.lg-visible(style="background-image: url('../../img/slider-arrow.svg');")
        .swiper-button-prev.lg-visible(style="background-image: url('../../img/slider-arrow.svg');")
        .swiper-pagination