include ../mixins/sectionHeader

.blossom
    .container
        +sectionHeader("blossom", "Flagship product")
        .blossom-row
            .blossom-pic
                picture
                    source(media="(min-width: 768px)", srcset="./img/blossom-lg.webp", type="image/webp")
                    source(media="(min-width: 768px)", srcset="./img/blossom-lg.png")
                    source(srcset="./img/blossom.webp", type="image/webp")
                    img(src="./img/blossom.png", alt="blossom", loading="lazy", width="100%", height="100%")
            .blossom-text
                p
                    span.gold Blossoms 
                    | – это линейка журнальных и кофейных столиков,
                    | воссоздающих в своем внешнем виде уникальный процесс цветения,
                    | от хрупкого бутона до сильного энергичного цветка.
                p
                    | Сочетание гладкой натуральной кожи и мягкой замши итальянского производства,
                    | черного стекла, напоминающего обсидиан,
                    | и мягких пропорций – мы предлагаем новое понимание атмосферы современной роскоши.
                p.right
                    a.gold(href="http://") Перейти в STORE
        .blossom-row.md-visible
            .blossom-text
                p.faded.md-visible fiftyfourms reasonsto fall in love
                p
                    | Дебютная коллекция от Studia 54 была разработана совместными усилиями дизайнеров бренда и специалистами Production 54. 
                    | Концепция состояла в синтезе функциональности, фантазиии и поиске новых решений. 
                    | Так появилась форма – визитная карточка нашего бренда
            .blossom-pic
                picture
                    img(src="./img/blossom-history.jpg", alt="blossom", loading="lazy", width="100%", height="100%")
        