include ../mixins/sectionHeader

.blossom
    +sectionHeader("blossom", "Flagship product")
    .container
        | Blossoms – это линейка журнальных и кофейных столиков,
        | воссоздающих в своем внешнем виде уникальный процесс цветения,
        | от хрупкого бутона до сильного энергичного цветка.
        | Сочетание гладкой натуральной кожи и мягкой замши итальянского производства,
        | черного стекла, напоминающего обсидиан,
        | и мягких пропорций – мы предлагаем новое понимание атмосферы современной роскоши.