include ../mixins/sectionHeader

.catalog#catalog
    .container
        +sectionHeader("Store 54", "Catalog")
    .catalog-slider
        .swiper-wrapper
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-1.jpg", alt="catalog1", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Банкетка – Balance
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-2.jpg", alt="catalog2", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Письменный стол - Petal
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-3.jpg", alt="catalog3", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Прикроватная тумба - Drum
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-1.jpg", alt="catalog1", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Банкетка – Balance
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-2.jpg", alt="catalog2", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Письменный стол - Petal
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
            a.swiper-slide(href="https://studia-54.store/")
                picture
                    img(src="./img/catalog-3.jpg", alt="catalog3", loading="lazy")
                span.swiper-title 
                    span.swiper-title__text Прикроватная тумба - Drum
                    span.swiper-title__arrow(style="background-image: url('../../img/arrow-store.svg')")
                