include ../mixins/sectionHeader
include ../mixins/button

.contacts
    .container
        +sectionHeader("Контакты", "Our location")
        .locations
            .locations__item
                h3.locations__city.gold Russia, Saint - Petersburg
                p.locations__address 
                    span.gold Address: 
                    | Novgorodskaya, 23 A, 
                    br
                    | office 340 (reservation required) 
            .locations__item
                h3.locations__city.gold Dubai, DMCC, UAE
                p.locations__address 
                    span.gold Address: 
                    | Platinum Tower, Jumeirah
                    br
                    | Lake Towers, unit number 808-04
        p.contacts-tease 
            | Оставьте заявку, 
            br
            | чтобы заказать мебель
        .contacts-form
            form.form(action='' method="POST")
                .form-row 
                    input.input(type="text" name="name" )
                    label.input-label First Name
                .form-row
                    +button({classes: "button", type: "submit"}) Отправить
        p 
            | Нажимая на кнопку, вы соглашаетесь 
            span.gold на обработку персональных данных