include ../mixins/button

.first-screen.snap
    .video
        video#video(autoplay playsinline)
    .container
        h1.title 
            span.left Мебель, которая вдохновляет  
            span.right на новый образ жизни
        +button({to:"#catalog", classes: "button-black md-visible"}) Перейти к каталогу
        +button({to:"#catalog", classes: "button md-hidden"}) Перейти к каталогу
