include ../mixins/button

.first-screen
    .video
        video#video(autoplay playsinline)
    .container
        h1.title 
            span.left Мебель, которая вдохновляет на 
            span.right новый образ жизни
        +button({href:"#catalog", classes: "button-black md-visible"}) Перейти к каталогу