include ../mixins/button

.first-screen
    .video
        video#video(autoplay playsinline)
    .container
        h1.title Мебель, которая вдохновляет на новый образ жизни
        +button({to:"#catalog", classes: "button-black md-visible"}) Перейти к каталогу
        +button({to:"#catalog", classes: "button md-hidden"}) Перейти к каталогу
