footer.footer
    .container
        .footer-top
            .logo
                img(src="./img/logo.svg", alt="logo")
            p.footer-rights.md-visible Все права защищены, 2022
            p.footer-policy.md-visible Политика конфиденциальности
        .footer-menu
            include ./menu
        p.footer-rights.md-hidden Все права защищены, 2022
        p.footer-policy.md-hidden Политика конфиденциальности
