footer.main-footer
    .container
        .logo
            img(src="./img/logo.svg", alt="logo")
        ul.menu
            li.menu__item
                a(href="#catalog") о бренде
            li.menu__item
                a(href="#catalog") Коллекция 2022
            li.menu__item
                a(href="#catalog") Blossom
            li.menu__item
                a(href="#catalog") Blossom
            li.menu__item
                a(href="#catalog") Blossom
            li.menu__item
                a(href="#catalog") Blossom
            li.menu__item
                a(href="#catalog") Blossom