footer.footer
    .container
        .footer-top
            .logo
                img(src="./img/logo.svg", alt="logo")
            p.footer-rights.md-visible Все права защищены, 2022
            p.footer-policy.md-visible Политика конфиденциальности
        .footer-menu
            ul.menu 
                li.menu__item
                    a.menu__link(data-href="#about") о бренде
                li.menu__item
                    a.menu__link(data-href="#collection") Коллекция 2022
                li.menu__item
                    a.menu__link(data-href="#blossom") Blossom
                li.menu__item
                    a.menu__link(data-href="#vip") VIP
                li.menu__item
                    a.menu__link(data-href="#contacts") Контакты
                li.menu__item
                    a.menu__link(data-href="#contacts") STORE 54
        p.footer-rights.md-hidden Все права защищены, 2022
        p.footer-policy.md-hidden Политика конфиденциальности
