header.header
    .container
        .logo
           img(src="./img/logo.svg", alt="logo")
        .burger
            input#menu-switch(type="checkbox")
            #navigation
            .navigation__content
                .navigation__lang
                    a.navigation__lang-link(href="") ru
                    | |
                    a.navigation__lang-link(href="") en
                include ./menu
                a.navigation__call.button(href="tel:+78881234567") Позвонить
            label.menu-switch(for="menu-switch")
                span
