head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="preload", href="./fonts/gordita/gordita-300.woff2", as="font", type="font/woff2", crossorigin)
  link(rel="preload", href="./fonts/gordita/gordita-400.woff2", as="font", type="font/woff2", crossorigin)
  link(rel="preload", href="./fonts/gangster-grotesk/gangster-grotesk-400.woff2", as="font", type="font/woff2", crossorigin)

  title Студия 54