include ../mixins/button

header.header
    .header-top.lg-visible
        .container
            .lang
                a.navigation__lang-link(href="") ru
                | |
                a.navigation__lang-link(href="") en
    .container
        .header-left.md-visible
            ul.menu 
                li.menu__item.lg-visible
                    a.menu__link(href="#about") о бренде
                li.menu__item 
                    a.menu__link(href="#collection") Коллекция 2022
                li.menu__item.lg-visible
                    a.menu__link(href="#blossom") Blossom
        .logo
           img(src="./img/logo.svg", alt="logo")
        .header-right
            ul.menu.lg-visible
                li.menu__item
                    a.menu__link(href="#catalog") Каталог
                //- li.menu__item 
                //-     a.menu__link(href="#team") Команда
                li.menu__item
                    a.menu__link(href="#vip") VIP
                li.menu__item
                    a.menu__link(href="#contacts") Контакты
            .lang.md-visible.lg-hidden
                a.navigation__lang-link(href="") ru
                | |
                a.navigation__lang-link(href="") en
            .burger.lg-hidden
                input#menu-switch(type="checkbox")
                #navigation.md-hidden
                .navigation__content
                    .lang.md-hidden
                        a.navigation__lang-link.gold(href="") ru
                        | |
                        a.navigation__lang-link(href="") en
                    ul.menu 
                        li.menu__item
                            a.menu__link(href="") о бренде
                        li.menu__item.md-hidden
                            a.menu__link(href="") Коллекция 2022
                        li.menu__item
                            a.menu__link(href="") Blossom
                        li.menu__item
                            a.menu__link(href="") Каталог
                        //- li.menu__item 
                        //-     a.menu__link(href="") Команда
                        li.menu__item
                            a.menu__link(href="") VIP
                        li.menu__item
                            a.menu__link(href="") Контакты
                        li.menu__item.md-hidden
                            a.menu__link.gold(href="") STORE 54
                    +button({classes: "button navigation__call md-hidden", href:"tel:+78881234567"}) Позвонить
                label.menu-switch(for="menu-switch")
                    span
