include ../mixins/sectionHeader

.production
    .production-pic
        picture
            img.production-pic__bg(src="./img/production-bg.jpg", alt="production", loading="lazy", width="100%", height="100%")
    .container
        .production-header
            +sectionHeader("", "Production 54")
            p.production-description
                span.gold Production 54 
                | – большое мультифункциональное производство мебели класса luxe, 
                | расположенное в центре Санкт&#8209;Петербурга. 
                | Производственное подразделение головной компании Studia 54 было основано в 2019 году, 
                | чтобы развивать собственный бренд уникальной дизайнерской мебели 
                | и производить под ключ заказные изделия в рамках реализации наших проектов по всему миру. 
    .production-slider 
        .swiper-wrapper
            .swiper-slide
                .pic
                    picture
                        img(src="./img/production-1.jpg", alt="production1", loading="lazy")
                .text 
                    h4.title.gold Обработка массива дерева
                    p Материал для каждой заготовки проходит строгий отбор специалиста
            .swiper-slide
                .pic
                    picture
                        img(src="./img/production-2.jpg", alt="production2", loading="lazy")
                .text 
                    h4.title.gold Проклейка тканевых панелей
                    p Высокотехнологичное производство позволяет работать с разнообразными материалами
            .swiper-slide
                .pic
                    picture
                        img(src="./img/production-3.jpg", alt="production3", loading="lazy")
                .text
                    h4.title.gold Подготовка панелей к покраске
                    p Вся работа с материалами, включая покраску, выполняется вручную
        .swiper-button-next.md-visible(style="background-image: url('../../img/slider-arrow.svg');")
        .swiper-button-prev.lg-visible(style="background-image: url('../../img/slider-arrow.svg');")