include ../mixins/sectionHeader

.team
    +sectionHeader("Команда", "Product designers")
    | Общие цели и намерения при создании коллекции и мебели в целом.
    | Небольшое послание будущим обладателям уникальной дизайнерской мебели