include ../mixins/sectionHeader

.vip#vip
  .container
    +sectionHeader("vip", "Limited edition")

  .vip-content
    .vip-pic
      picture
        source(media="(min-width: 768px)", srcset="./img/room-big.webp", type="image/webp")
        source(media="(min-width: 768px)", srcset="./img/room-big.jpg")
        source(srcset="./img/room.webp", type="image/webp")
        img(src="./img/room.jpg", alt="room", loading="lazy", width="100%", height="100%")
    .vip-text
      h3.text-title.gold Лимитированные изделия
      p.text 
        | Успешные профессиональные решения и идеи начинаются с правильной обстановки. 
        b Эргономичный и стильный, персонально подобранный рабочий стол 
        | не только способствует продуктивной работе, 
        | но и является отражением характера своего хозяина. 
        | Мы предоставляем возможность приобрести лимитированное изделие, 
        | созданное с учетом заданных вами параметров.
  .vip-builder
    .container 
      .builder-pics
        .builder-pics__item.woodstock
          img(src="../../img/woodstock_eben.png")
        .builder-pics__item.aida
          img(src="../../img/aida_black.png")
        .builder-pics__item.inside
          img(src="../../img/aida_sand_inside.png")

  .vip-options
    .container
      p.vip-options__title Параметры, которые можно изменить по вашему желанию:
      .vip-options__block
        .vip-options__column
          p.vip-options__column-title Cтолешница
          ul.vip-options__list
            li.option.active(data-image='woodstock_eben', data-category="woodstock")
              .option-pic(style="background-image: url('../../img/vip-example-11.jpg')")
              .option-about
                p.option-about__title Эбен 5
                p.option-about__description Натуральный шпон
            li.option(data-image='woodstock_eben-2', data-category="woodstock")
              .option-pic(style="background-image: url('../../img/vip-example-12.jpg')")
              .option-about
                p.option-about__title KOTO
                p.option-about__description Натуральный шпон
            li.option(data-image='woodstock_evkalipt', data-category="woodstock")
              .option-pic(style="background-image: url('../../img/vip-example-13.jpg')")
              .option-about
                p.option-about__title Эбен MN
                p.option-about__description Натуральный шпон
            li.option(data-image='woodstock_koto', data-category="woodstock")
              .option-pic(style="background-image: url('../../img/vip-example-14.jpg')")
              .option-about
                p.option-about__title Эвкалипт
                p.option-about__description Натуральный шпон
            li.option(data-image='woodstock_orex', data-category="woodstock")
              .option-pic(style="background-image: url('../../img/vip-example-15.jpg')")
              .option-about
                p.option-about__title Орех Корень
                p.option-about__description Натуральный шпон
        .vip-options__column
          p.vip-options__column-title Корпус
          ul.vip-options__list
            li.option.active(data-image='aida_black', data-category="aida")
              .option-pic(style="background-image: url('../../img/vip-example-21.jpg')")
              .option-about
                p.option-about__title Black ink
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_blackberry', data-category="aida")
              .option-pic(style="background-image: url('../../img/vip-example-22.jpg')")
              .option-about
                p.option-about__title Spruce
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_grey', data-category="aida")
              .option-pic(style="background-image: url('../../img/vip-example-23.jpg')")
              .option-about
                p.option-about__title Grey
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_spruce', data-category="aida")
              .option-pic(style="background-image: url('../../img/vip-example-24.jpg')")
              .option-about
                p.option-about__title Blackberry
                p.option-about__description Натуральная кожа
        .vip-options__column
          p.vip-options__column-title Подстолье
          ul.vip-options__list
            li.option.active(data-image='aida_saddle_inside', data-category="inside")
              .option-pic(style="background-image: url('../../img/vip-example-31.jpg')")
              .option-about
                p.option-about__title Saddle
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_grey_inside', data-category="inside")
              .option-pic(style="background-image: url('../../img/vip-example-32.jpg')")
              .option-about
                p.option-about__title Sand
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_ash_inside', data-category="inside")
              .option-pic(style="background-image: url('../../img/vip-example-33.jpg')")
              .option-about
                p.option-about__title Ash
                p.option-about__description Натуральная кожа
            li.option(data-image='aida_sand_inside', data-category="inside")
              .option-pic(style="background-image: url('../../img/vip-example-34.jpg')")
              .option-about
                p.option-about__title Grey
                p.option-about__description Натуральная кожа
        .vip-options__column
          p.vip-options__column-title Фурнитура
          ul.vip-options__list
            li.option.active
              .option-pic(style="background-image: url('../../img/vip-example-4.jpg')")
              .option-about
                p.option-about__title Флористика
                p.option-about__description Под заказ
  .vip-footer
    .container
      p 
        span.gold Продемонстрируйте свой статус 
        | и задайте ритм вашей работе
      button.button 
        |Подобрать изделие