/* gordita-300 */
@font-face {
	font-family: "Gordita";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gordita/gordita-300.woff2") format("woff2"), url("../fonts/gordita/gordita-300.woff") format("woff");
}

/* gordita-400 */
@font-face {
	font-family: "Gordita";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/gordita/gordita-400.woff2") format("woff2"), url("../fonts/gordita/gordita-400.woff") format("woff");
}

/* Gangster Grotesk 400 */
@font-face {
	font-family: "Gangster Grotesk";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/gangster-grotesk/gangster-grotesk-400.woff2") format("woff2"),
		url("../fonts/gangster-grotesk/gangster-grotesk-400.woff") format("woff");
}
