::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--gold);
	border-radius: 10px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font;
	color: var(--white);
	background-color: var(--black);
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	scroll-snap-type: y proximity;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1360px;
	padding: 0 24px;
	display: flex;

	@media (min-width: $md) {
		padding: 0 48px;
	}

	@media (min-width: $lg) {
		padding: 0 72px;
	}
}

h2.title {
	font-family: $font_special;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 1.02px;

	@media (min-width: $md) {
		font-size: 40px;
	}
}

h4.special {
	font-size: 16px;
	font-weight: var(--light);
	line-height: 21.6px;
	color: rgba(255, 255, 255, 0.3);
	letter-spacing: 1.05px;

	@media (min-width: $md) {
		font-size: 22px;
		line-height: 29.7px;
	}
}

a {
	color: var(--white);
}

.center {
	text-align: center;
}

.gold {
	color: var(--gold);
}

.faded {
	color: rgba(69, 69, 69, 0.2);
	text-transform: uppercase;
	font-family: $font_special;
}

.right {
	text-align: right;
}

.md-visible {
	display: none !important;

	@media (min-width: $md) {
		display: flex !important;
	}
}

.md-hidden {
	@media (min-width: $md) {
		display: none !important;
	}
}

.lg-visible {
	display: none !important;

	@media (min-width: $lg) {
		display: flex !important;
	}
}

.lg-hidden {
	@media (min-width: $lg) {
		display: none !important;
	}
}
