:root {
	--black: #080808;
	--gold: #e0c0a0;
	--light: 300;
	--regular: 400;
}

$font: "Gordita", sans-serif;
$font_special: "Gangster Grotesk", sans-serif;

$xl: 1920px;
$lg: 1360px;
$md: 768px;

$ls2: 1.02px;
$ls5: 1.05px;
