.catalog {
	padding-top: 120px;

	&-slider {
		max-width: 1360px;
		margin: auto;

		@media (min-width: $md) {
			padding: 0 46px;
		}

		@media (min-width: $md) {
			padding: 0 72px;
		}
	}

	& .swiper-slide {
		width: 88vw;
		height: 100vw;
		display: flex;
		overflow: hidden;
		align-items: flex-end;
		padding: 0 16px 16px;

		@media (min-width: $md) {
			width: 64.6vw;
			height: 56.8vw;
			padding: 0 24px 34px;
		}

		@media (min-width: $lg) {
			width: 37.7vw;
			height: 33vw;
			padding: 0 26px 40px;
		}

		@media (min-width: $xl) {
			width: 592px;
			height: 520px;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			display: block;
			left: 0;
			top: 0;
		}

		& .swiper-title {
			color: var(--gold);
			font-weight: 300;
			font-size: 16px;
			line-height: 21.6px;
			letter-spacing: $ls5;
			display: flex;
			flex: auto;
			flex-direction: row-reverse;
			position: relative;
			padding-bottom: 8px;
			padding-right: 12px;

			@media (min-width: $md) {
				font-size: 20px;
				line-height: 27px;
			}

			@media (min-width: $lg) {
				font-size: 22px;
				line-height: 29.7px;
			}

			&__text {
				@media (min-width: $lg) {
					opacity: 0;
					bottom: -20px;
					transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
				}
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--gold);

				@media (min-width: $lg) {
					opacity: 0;
					bottom: -5px;
					transition: opacity 0.1s ease-in-out 0.3s, bottom 0.1s ease-in-out 0.3s;
				}
			}

			&__arrow {
				display: block;
				position: absolute;
				top: 5px;
				right: 0;
				width: 4px;
				height: 10px;
				background-repeat: no-repeat;
				background-size: contain;

				@media (min-width: $md) {
					width: 6px;
					height: 17px;
				}

				@media (min-width: $lg) {
					width: 6px;
					height: 20px;
					right: -20px;
					opacity: 0;
					top: 4px;
					background-position: 50% 50%;
					transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
				}
			}
		}

		&:hover {
			& .swiper-title__text {
				opacity: 1;
				bottom: 0px;
			}

			& .swiper-title__arrow {
				opacity: 1;
				right: 0;
			}

			& .swiper-title::before {
				opacity: 1;
				bottom: 0;
			}
		}
	}

	& .section-header {
		margin-bottom: 31px;

		@media (min-width: $md) {
			margin-bottom: 90px;
		}

		@media (min-width: $lg) {
			margin-bottom: 155px;
		}
	}
}
