.contacts {
	padding: 42px 0 120px;

	& .container {
		flex-direction: column;
	}

	& .section-header {
		margin-bottom: 42px;

		@media (min-width: $md) {
			margin-bottom: 90px;
		}

		@media (min-width: $lg) {
			margin-bottom: 166px;
		}
	}

	& .locations {
		display: flex;
		flex-direction: column;
		margin-bottom: 80px;

		@media (min-width: $md) {
			margin-bottom: 84px;
			flex-direction: row;
			justify-content: space-between;
		}

		@media (min-width: $lg) {
			margin-bottom: 160px;
			justify-content: flex-start;
			column-gap: 140px;
		}

		&__item {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__city {
			margin-bottom: 8px;
			letter-spacing: $ls5;
			font-size: 16px;
			line-height: 21.6px;

			@media (min-width: $md) {
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 30px;
			}

			@media (min-width: $lg) {
				font-size: 22px;
				line-height: 29.7px;
			}
		}

		&__address {
			letter-spacing: $ls5;
			font-size: 14px;
			line-height: 18.9px;
			font-weight: 300;

			& span.gold {
				font-weight: 400;
			}

			@media (min-width: $md) {
				font-size: 18px;
				line-height: 24.3px;
			}

			@media (min-width: $lg) {
				font-size: 22px;
				line-height: 29.7px;
			}
		}
	}

	&-tease {
		margin-bottom: 32px;
		font-size: 18px;
		line-height: 19.42px;
		font-weight: 300;

		@media (min-width: $md) {
			font-size: 24px;
			line-height: 25.9px;
			margin-bottom: 32px;
		}

		@media (min-width: $lg) {
			font-size: 35px;
			line-height: 37.76px;
			margin-bottom: 40px;
		}
	}

	&-form {
		margin-bottom: 24px;
		line-height: 19.42px;
		font-weight: 300;
	}

	& .form {
		@media (min-width: $lg) {
			display: flex;
			align-items: center;
			column-gap: 32px;
			align-items: flex-start;
		}

		&-row {
			position: relative;
			margin-bottom: 32px;

			@media (min-width: $lg) {
				margin-bottom: 0;
			}

			&:nth-child(1) {
				& .input {
					@media (min-width: $lg) {
						width: 281px;
					}
				}
			}

			&:nth-child(2) {
				& .input {
					@media (min-width: $lg) {
						width: 384px;
					}
				}
			}

			&:last-child {
				margin-top: 20px;
				margin-bottom: 0;

				@media (min-width: $lg) {
					margin-top: 0;
					width: 248px;
				}

				& .data-agreement {
					text-align: center;
					margin-top: 16px;
					letter-spacing: $ls2;
					font-size: 12px;

					@media (min-width: $lg) {
						text-align: left;
					}
				}
			}

			& .input {
				border: 1px solid rgba(224, 192, 160, 0.5);
				background: none;
				width: 100%;
				padding: 21px 16px;
				font-size: 13px;
				font-weight: 300;
				color: #fff;
				transition: border 0.3s cubic-bezier(0.4, 0, 0.2, 1);
				height: 42px;
				font-family: var(--font);

				&::placeholder {
					color: rgba(255, 255, 255, 0.5);
					font-size: 13px;
					font-weight: 300;

					@media (min-width: $md) {
						font-size: 16px;
					}
				}

				@media (min-width: $md) {
					height: 60px;
					font-size: 16px;
					padding: 21px 24px;
				}

				&#phone {
					@media (min-width: $md) {
						padding-left: 90px !important;
					}

					@media (min-width: $lg) {
						padding-left: 105px !important;
					}
				}
			}

			& .highlight {
				content: "";
				position: absolute;
				display: block;
				width: 90%;
				height: 90%;
				top: 10px;
				left: 0;
				right: 0;
				margin: auto;
				background: rgba(224, 192, 160, 0.3);
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				filter: blur(50px);
				z-index: -1;
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			& .input-label {
				position: absolute;
				left: 15px;
				font-size: 16px;
				font-weight: 300;
				line-height: 1px;
				color: #fff;
				pointer-events: none;
				top: 23px;
				transform-origin: left;
				transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

				@media (min-width: $md) {
					left: 24px;
					top: 30px;
				}
			}

			& .input:focus,
			& .input:not(:placeholder-shown) {
				outline: none;
				border: 1px solid #e0c0a0;
				background: var(--black);
				&::placeholder {
					color: #fff;
				}
			}

			& .input:focus ~ label,
			& .input:not(:placeholder-shown) ~ label {
				transform: scale(0.8);
				color: rgba(255, 255, 255, 0.5);
				top: -16px;
				left: 0px;
			}

			& .input:focus ~ .highlight,
			& .input:not(:placeholder-shown) ~ .highlight {
				opacity: 1;
			}

			& button.button {
				width: 100%;
			}
		}
	}
}
