.first-screen {
	min-height: calc(90vh - 113px);
	display: flex;
	align-items: stretch;
	position: relative;

	@media (min-width: $md) {
		min-height: 100vh;
		padding-top: 208px;
		padding-bottom: 95px;
		background-color: rgba(9, 9, 9, 0.5);
	}

	@media (min-width: $md) {
		padding-top: 362px;
	}

	& .container {
		flex-direction: column;
		justify-content: space-between;
		background: linear-gradient(180deg, #080808 0%, rgba(8, 8, 8, 0) 30%);

		@media (min-width: $md) {
			background: none;
		}
	}

	.title {
		font-family: $font_title;
		display: flex;
		flex-direction: column;
		font-size: 24px;
		line-height: 31.46px;

		@media (min-width: $md) {
			font-size: 40px;
			line-height: 52.44px;
		}

		@media (min-width: $lg) {
			font-size: 56px;
			line-height: 73.42px;
		}
	}

	& .video {
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;

		& video {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	& .button {
		position: relative;
		bottom: -17px;
		font-size: 16px;
		line-height: 17.26px;
		letter-spacing: 1px;
	}
}
