mixin button({to, type, classes, target})
    if to
        if target
            a(to= to, class= classes, target= target)
                block
        else
            a(to= to, class= classes)
                block
    if type 
        button(type= type, class= classes)
            block