.first-screen.no-page
  .container 
    h1.title.gold 404
    h2.gold Page not found
    p 
      | The page you were trying to reach couldn't be found. Please, go to the 
      a.gold(href="/en.html") main page