.emotions.snap
    .container.lg-visible
        p.faded.emotions-faded--top emotions that last forever
    .emotions-slider
        .swiper-wrapper
            .swiper-slide
                p.text Material combinations you haven’t imagined before
                .pic
                    picture
                        img(src="./img/emotions-1.jpg", alt="emotions1", loading="lazy")
            .swiper-slide
                p.text Furniture design as high art 
                .pic
                    picture
                        img(src="./img/emotions-2.jpg", alt="emotions2", loading="lazy")
            .swiper-slide
                p.text An integral part of ultramodern designs around the world
                .pic
                    picture
                        img(src="./img/emotions-3.jpg", alt="emotions3", loading="lazy")
    .container.lg-visible
        p.faded.emotions-faded--bottom The atmosphere of modern luxury
