include ../mixins/button

.first-screen.snap
    .video
        video#video(autoplay playsinline)
    .container
        h1.title.title-short
            span.left Furniture that inspires 
            span.right a new way of living
        +button({to:"#catalog", classes: "button-black md-visible"}) Shop now
        +button({to:"#catalog", classes: "button md-hidden"}) Shop now
