footer.footer
    .container
        .footer-top
            .logo
                img(src="./img/logo.svg", alt="logo")
            p.footer-rights.md-visible Все права защищены, 2022
            p.footer-policy.md-visible Политика конфиденциальности
        .footer-menu
            ul.menu 
                li.menu__item
                    a.menu__link(data-href="#about") Brand
                li.menu__item
                    a.menu__link(data-href="#collection") Collection 2022
                li.menu__item
                    a.menu__link(data-href="#blossom") Blossom
                li.menu__item
                    a.menu__link(data-href="#vip") VIP
                li.menu__item
                    a.menu__link(data-href="#contacts") Contacts
                li.menu__item
                    a.menu__link(href="https://studia-54.store/" target="_blank") STORE 54
        p.footer-rights.md-hidden All rights reserved, 2022
        p.footer-policy.md-hidden Privacy policy
