doctype html
html(lang="en")
	include ./pug/blocks/head
	body 
		.wrapper
			include ./pug/blocks-en/header
			include ./pug/blocks-en/first-screen
			include ./pug/blocks-en/about
			include ./pug/blocks-en/emotions
			include ./pug/blocks-en/logo-video
			include ./pug/blocks-en/collection
			include ./pug/blocks-en/catalog
			include ./pug/blocks-en/blossom
			include ./pug/blocks-en/production
			include ./pug/blocks-en/vip
			include ./pug/blocks-en/contacts
			include ./pug/blocks-en/footer
			include ./pug/blocks-en/popup
			include ./pug/blocks-en/success
