doctype html
html(lang="en")
	include ./pug/blocks/head
	body 
		.wrapper
			include ./pug/blocks/header
			include ./pug/blocks/first-screen
			include ./pug/blocks/about
			//- include ./pug/blocks/emotions
			//- include ./pug/blocks/logo-video
			//- include ./pug/blocks/collection
			//- include ./pug/blocks/catalog
			//- include ./pug/blocks/blossom
			//- include ./pug/blocks/production
			include ./pug/blocks/vip
			include ./pug/blocks/contacts
			include ./pug/blocks/footer
